<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ page.title }} | Pragmatic Paddy</title>
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.0/normalize.min.css">
  <link rel="stylesheet" href="/css/syntax.css">
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>

<div class="container">
  <div class="site">

    <div class="content">
      {{ content }}
    </div>

    <div class="about">
      <div class="text-right">
        <a href="/"><img class="avatar" src="https://avatars1.githubusercontent.com/u/40453?s=400"></a>
      </div>
      <div class="contact">
        <h3><a href="/">Paddy Mullen</a></h3>
        <p>
          I am a software developer from New York City. I work primarily with JavaScript in building AJAX applications. You can find me on
          <a href="https://github.com/paddymul">GitHub</a> or follow me on <a
          href="https://twitter.com/paddy_mullen‎">twitter</a>.
        </p>
      </div>
    </div>

  </div>
</div>
	<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-3225116-3']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>
